html{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
/*This is just for my personall experience*/
/*html ::-webkit-scrollbar{
    width: 10px;
}*/

#SEMANTICCARDS-05041993 ::-webkit-scrollbar{
    width:3px;
    height: 2px;
}

#SEMANTICCARDS-05041993 ::-webkit-scrollbar-thumb{
    background-color:white;
    border-radius:2px;


   /* -webkit-box-shadow: -2px 1px 2px 0px rgba(50, 50, 50, 0.60);
    -moz-box-shadow:    -2px 1px 2px 0px rgba(50, 50, 50, 0.60);
    box-shadow:         -2px 1px 2px 0px rgba(50, 50, 50, 0.60);*/

}
#SEMANTICCARDS-05041993 ::-webkit-scrollbar-thumb:hover{
    background-color:beige;
    /*border:1px solid #333333;*/
}
#SEMANTICCARDS-05041993 ::-webkit-scrollbar-thumb:active{
    background-color:bisque;
    /*border:1px solid #333333;*/
} 
#SEMANTICCARDS-05041993 ::-webkit-scrollbar-track{
    /*border:1px gray solid;*/
    /*border-radius:2px;*/
    /*-webkit-box-shadow:0 0 6px gray inset;*/
}

/***********************************************************************/
/*Rest of the app*/
#SEMANTICCARDS-05041993 #SC-FRAMEHOLDER ::-webkit-scrollbar{
    width:1px;
    height: 2px;

    /*background-color:#cccccc;*/
}
#SEMANTICCARDS-05041993 ::-webkit-scrollbar-thumb{
    background-color:#3CB03F;
    /*border-radius:2px;*/
}
#SEMANTICCARDS-05041993 ::-webkit-scrollbar-thumb:hover{
    background-color:#46BF49;
    /*border:1px solid #333333;*/
}
#SEMANTICCARDS-05041993 ::-webkit-scrollbar-thumb:active{
    background-color:#39A63D;
    /*border:1px solid #333333;*/
} 
#SEMANTICCARDS-05041993 ::-webkit-scrollbar-track{
    /*border:1px gray solid;*/
    /*border-radius:2px;*/
    /*-webkit-box-shadow:0 0 6px gray inset;*/
}

/***********************************************************************/

#SEMANTICCARDS-05041993 ::-webkit-scrollbar{
    width:1px;
    height: 2px;
    
    /*background-color:#cccccc;*/
}
#SEMANTICCARDS-05041993 #SC-POPUP ::-webkit-scrollbar-thumb{
    background-color:#3CB03F;
    /*border-radius:2px;*/
}
#SEMANTICCARDS-05041993 #SC-POPUP ::-webkit-scrollbar-thumb:hover{
    background-color:#46BF49;
    /*border:1px solid #333333;*/
}
#SEMANTICCARDS-05041993 #SC-POPUP ::-webkit-scrollbar-thumb:active{
    background-color:#39A63D;
    /*border:1px solid #333333;*/
} 
#SEMANTICCARDS-05041993 #SC-POPUP ::-webkit-scrollbar-track{
    /*border:1px gray solid;*/
    /*border-radius:2px;*/
    /*-webkit-box-shadow:0 0 6px gray inset;*/
}

/***********************************************************************/

#SEMANTICCARDS-05041993 .grid-stack {
    /*YELLOWGREEN*/
    /*background: YELLOWGREEN;*/
}

#SEMANTICCARDS-05041993 .grid-stack-item-content {
    /*color: #2c3e50;*/
    /*text-align: center;*/
    background-color: transparent;
    /*overflow-x: hidden;*/
    /*overflow-y: hidden;*/
}



[contentEditable=true]:empty:not(:focus):before{content:attr(data-placeholder) }


#SEMANTICCARDS-05041993 .fillall{
    width:100%;
    height:100%;
}


#SEMANTICCARDS-05041993 .removeBtn{
    width: 16px;
    height: 16px;
    background-position-y: -32px;
    cursor: pointer;
    background-image: url('chrome-extension://__MSG_@@extension_id__/css/my-cardui-icons.png');
    background-repeat: no-repeat;
    background-size: 16px;
}

/*my semanics*/
/*
#SEMANTICCARDS-05041993 .ui.right.absolutepos{
    position: absolute;
    right: 5px;
    top: 5px;
}

#SEMANTICCARDS-05041993 .ui.left.absolutepos{
    position: absolute;
    left: 5px;
    top: 5px;
}

#SEMANTICCARDS-05041993 .ui.divider.scdivider{
    width: 50%;
    left: 25%;
    position: relative;
}

#SEMANTICCARDS-05041993 .ui.bg.fluid.image{
    position: absolute;
}

#SEMANTICCARDS-05041993 .overbgimage{
    z-index: 1;
}*/

#SEMANTICCARDS-05041993{
    /*background-image: url('chrome-extension://__MSG_@@extension_id__/css/bg.jpg');
    background-repeat:no-repeat;
    background-size: cover;*/
    
    width: 100%;
    height:100%;
    box-sizing: border-box;
    background-color: darkcyan;
    position: fixed;
    overflow-y:none;
    overflow-x:none;
    top:0px;
    left:0px;
    z-index: 8147483647;
    /*top: 10px;
    right: 10px;
    width: 310px;
    height:540px; 
    border: 1px solid rgb(177, 177, 177); 
    box-shadow: rgb(192, 192, 192) 0px 0px 10px 1px; 
    border-radius: 3px;*/
}

#SEMANTICCARDS-05041993 div{
    font-size: 1em;
}
#SEMANTICCARDS-05041993 .ui-resizable-se {
  font-size: 0px;
}

#SEMANTICCARDS-05041993 .ui-resizable-sw {
  font-size: 0px;
}

/*compose view wrapper*/
.durandal-wrapper{
    position: relative;
    width: 100%;
    height: 100%
}

#SEMANTICCARDS-05041993 .zoom_on_hover{
     -moz-transition: all 0.1s;
     -webkit-transition: all 0.1s;
      transition: all 0.1s;
}
#SEMANTICCARDS-05041993 .zoom_on_hover:hover{
     -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}


#SEMANTICCARDS-05041993 .custombreadcrumb a.big_font{
    font-size: 0.9em;
    padding:5px;
}
#SEMANTICCARDS-05041993 .custombreadcrumb a.normal_font{
    font-size: 0.6em;
    padding: 0px;
}


#SEMANTICCARDS-05041993 .change_background_color_on_hover:hover{
    background-color: bisque;
}
#SEMANTICCARDS-05041993 .selected_command{
    background-color: bisque;
}

#SEMANTICCARDS-05041993 .json-key {
 color: brown;
}
#SEMANTICCARDS-05041993 .json-value {
 color: navy;
}
#SEMANTICCARDS-05041993 .json-string {
 color: olive;
}


#SEMANTICCARDS-05041993 .hline{
    display: block;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-style: inset;
    border-width: 1px;
    opacity: 0.3;
}

#SEMANTICCARDS-05041993 #commandSuggestions table{
    margin:0px;
}


#SEMANTICCARDS-05041993 table{
    width: 100%;
}
#SEMANTICCARDS-05041993 table img{
    max-width: 300px;
    width: 100%;
    height: auto;
}
#SEMANTICCARDS-05041993 li{
    list-style-type: none;
}
//******************************************************
//******************************************************
//  .listholder{
//     color: rgb(123, 109, 94);
//     text-decoration: none;
//     padding: 12px 12px;
//     border-left-width: 3px;
//     border-left-style: solid;
//     font-size: 14px;
//     line-height: 20px;
//      display: block;
//      position: relative;
//      outline-style: none;
// }
// .listholder.on{
//     border-left-color: rgb(64, 162, 104);
//      background-color: rgb(246, 240, 236);
// }

// .listholder.off{
//     border-left-color: transparent;
//     background-color: white;
// }

