<div style="padding: 20px; background-color: white;">

	<div style=" text-align: left; box-sizing: border-box; font-size: 14px; font-family: 'Open Sans', sans-serif; color: rgb(144, 115, 84); letter-spacing: -1px; background-color: rgb(255, 255, 255);">

	 		<div style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font-weight: 600; font-stretch: inherit; font-size: 13px; line-height: 13px; font-family: 'Open Sans', sans-serif; vertical-align: baseline; outline: none; color: rgb(93, 93, 93);">

	 		<h2 style="box-sizing: border-box; font-weight: inherit; line-height: 1.2; color: rgb(82, 82, 82); margin: 10px 0px 21px; font-size: 26px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-stretch: inherit; vertical-align: baseline; letter-spacing: -2px;">

	 		<div hidefocus="true" style="box-sizing: border-box; color: rgb(82, 82, 82); margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit; vertical-align: baseline; transition: color 0.2s ease; outline: none; background-image: initial; background-attachment: initial; background-size: initial; background-origin: initial; background-clip: initial; background-position: initial; background-repeat: initial;"  
	 		data-bind="sc_contenteditable:bind_data.text"></div>

	 		</h2>
	 		</div>

	 		<div style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font-weight: 600; font-stretch: inherit; font-size: 18px; line-height: inherit; font-family: 'Open Sans', sans-serif; vertical-align: baseline; outline: none; color: rgb(93, 93, 93);">

	 		<div  style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: 400; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: Allerta, sans-serif; vertical-align: baseline; outline: none;">
	 		
	 			<span style="box-sizing: border-box; margin: 0px; padding: 0px; border: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 14px; line-height: inherit; font-family: inherit; vertical-align: baseline; color: rgb(0, 167, 173);" data-bind="sc_contenteditable:bind_data.verse">
	 			</span>

	 		</div>
	 		</div>

	 </div>	 

</div>
<!-- https://getbible.net/json?passage=1Jn3:16 -->
<!-- https://labs.bible.org/api/?passage=random&type=json -->