<div class="" style="width:100%; height:100%; background-color:white; overflow-y: auto"  data-bind="event: { mouseenter: onMouseEnterCard, mouseleave: onMouseLeaveCard}">
		
		
		<div class="row" style="">
		    <div class="six columns sc-editable" contenteditable="true"  data-placeholder="two">5</div>
		    <div class="six columns sc-editable" contenteditable="true"  data-placeholder="eight">7</div>
		</div>

		<div style="width:100%; height:100%">
			<div class="sc-editable" contenteditable="true"  data-placeholder="Paste here" data-bind="sc_contenteditable:cardmaker_data" style="width:100%; height:100%"></div>

			<div class="removeBtn" style="position: absolute; top: 0px; right: 0px" data-bind="fadeVisible: isMouseEnterCard"></div>
		</div>

		

</div>