<div style=" box-sizing: border-box; font-size: 13px; line-height: 13px; font-family: 'Open Sans', sans-serif; outline-style: none; border-radius: 5px; box-shadow: rgba(58, 51, 46, 0.258824) 0px 0px 12px; position: relative; color: rgb(142, 128, 113); background-color: white;">

	<div
		class="sc-editable"
		data-bind="sc_contenteditable:bind_data.title"
		contenteditable="true"

	 style="box-sizing: border-box; font-family: inherit; font-weight: 600; line-height: 1.2em; font-size: 18px; padding: 7px 5px 8px 5px; font-style: inherit; font-variant: inherit; font-stretch: inherit; color: rgb(255, 255, 255); letter-spacing: -1px; text-transform: uppercase; box-shadow: rgba(57, 57, 57, 0.360784) 0px -2px 2px inset; border-radius: 4px 4px 0px 0px; background-color: rgb(123, 109, 94);">Untitled
	</div>

	<div contenteditable="true"
		style="padding: 5px 15px 5px 15px;">

		<div 
			class="sc-editable"
			data-bind="sc_contenteditable:bind_data.title"
		 style=" text-align: left; box-sizing: border-box; padding-bottom: 15px; padding-bottom: 15px; border-top-width: 2px; border-top-style: solid; border-top-color: rgb(235, 233, 231); color: rgb(123, 109, 94); text-decoration: none; font-size: 14px; line-height: 20px; display: block; outline-style: none; position:relative;">Write Something
		</div>

	</div>

</div>