<div  style="box-sizing: border-box; font-size: 13px; line-height: 13px; font-family: 'Open Sans', sans-serif; outline-style: none; border-radius: 5px; box-shadow: rgba(58, 51, 46, 0.258824) 0px 0px 12px; position: relative; z-index: 0; color: rgb(142, 128, 113); background-color: white">
	<h3 class="widget-title" style="font-weight: 600; font-size: 18px; padding: 19px 20px 19px 33px;  color: white; text-transform: uppercase; box-shadow: rgba(57, 57, 57, 0.360784) 0px -2px 2px inset; border-radius: 4px 4px 0px 0px; background-color: rgb(123, 109, 94);">
	LIST OF SCIENTISTS
	</h3>
	<div class="inner" style="outline-style: none; ">
		<ul id="categories" style="list-style-type: none; padding-left: 5px;">

			<li class="first" style="position: relative;">
				<a hidefocus="true" style="color: rgb(123, 109, 94); text-decoration: none; padding: 12px 32px; border-left-width: 3px; border-left-style: solid; border-left-color: transparent;  font-size: 14px; line-height: 20px; display: block; position: relative; outline-style: none;">
					<span class="ico-cat ico-cat1" style="position: relative; top: 0px; left: 0px; display: inline-block; overflow: hidden; float: right; width: 20px; height: 20px; ">
					</span>
					<span style="">Sir Issac Newton</span>
				</a>
			</li>

			<li class="current-menu-item" style="position: relative;">
				<a  style="color: rgb(123, 109, 94); text-decoration: none; padding: 12px 32px; border-left-width: 3px; border-left-style: solid; border-left-color: rgb(64, 162, 104); font-size: 14px; line-height: 20px;  display: block; position: relative; outline-style: none; background-color: rgb(246, 240, 236);">
					<span class="ico-cat ico-cat2" style="position: relative; top: 0px; left: 0px; display: inline-block; overflow: hidden; float: right; width: 20px; height: 20px;">
					</span>

					<span style="">Louis Pasteur</span>
				</a>
			</li>

			<li class="first" style="position: relative;">
				<a hidefocus="true" style="color: rgb(123, 109, 94); text-decoration: none; padding: 12px 32px; border-left-width: 3px; border-left-style: solid; border-left-color: transparent;  font-size: 14px; line-height: 20px; display: block; position: relative; outline-style: none;">
					<span class="ico-cat ico-cat1" style="position: relative; top: 0px; left: 0px; display: inline-block; overflow: hidden; float: right; width: 20px; height: 20px; ">
					</span>
					<span style="">Sir Issac Newton</span>
				</a>
			</li>



		</ul>
	</div>
</div>