<div style="background-color: white" class="card" data-bind="event: { mouseenter: onMouseEnterCard, mouseleave: onMouseLeaveCard}" 
style="display: flex; flex-direction: column;" >
	<div style="min-height: 30px; overflow-y: auto">

		<div style="padding: 20px; background-color: white">

		<div  style="box-sizing: border-box; font-stretch: inherit; font-size: 13px; line-height: 13px; font-family: 'Open Sans', sans-serif; outline-style: none; color: rgb(142, 128, 113); background-color: rgb(255, 255, 255);"><h2 style="box-sizing: border-box; font-family: inherit; margin-bottom: 7px; font-size: 27px; font-style: inherit; font-variant: inherit; font-stretch: inherit; color: rgb(92, 81, 70); letter-spacing: -1px;" data-bind="sc_contenteditable:bind_data.title" contenteditable="true">Title with intro</h2></div>

		<div style="box-sizing: border-box; margin-bottom: 25px; font-stretch: inherit; font-size: 13px; line-height: 13px; font-family: 'Open Sans', sans-serif; outline-style: none; color: rgb(142, 128, 113); background-color: rgb(255, 255, 255);"><span style="box-sizing: border-box; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit;">by John Doe</span>&nbsp;<span style="box-sizing: border-box; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit;">|&nbsp;</span><span style="box-sizing: border-box; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: inherit; font-family: inherit;">5 May 2013</span></div>


		<!-- <div style="box-sizing: border-box; margin-bottom: 20px; padding-top: 11px; padding-bottom: 13px; border-top-width: 2px; border-bottom-width: 2px; border-top-style: solid; border-bottom-style: solid; border-top-color: rgb(238, 236, 234); border-bottom-color: rgb(238, 236, 234); font-stretch: inherit; font-size: 13px; line-height: 13px; font-family: 'Open Sans', sans-serif; outline-style: none; color: rgb(142, 128, 113); background-color: rgb(255, 255, 255);"><p style="box-sizing: border-box; font-style: italic; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: 17px; line-height: 21px; font-family: inherit; color: rgb(232, 103, 65);" data-bind="sc_contenteditable:bind_data.html">Red Intro</p></div> -->


		<div style="box-sizing: border-box;/* margin-bottom: 36px; */ font-stretch: inherit; font-size: 13px; line-height: 13px; font-family: 'Open Sans', sans-serif; outline-style: none; color: rgb(142, 128, 113); background-color: rgb(255, 255, 255);"><p style="box-sizing: border-box; margin-bottom: 16px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 19px; font-family: inherit;" data-bind="sc_contenteditable:bind_data.html" contenteditable="true">Summary</p></div>

		</div>

	</div>
	<div class="removeBtn" style="position: absolute; top: 0px; right: 0px" data-bind="fadeVisible: isMouseEnterCard"></div>
</div>

