<!-- Line Folder -->

<!-- <div style="height:2px; left:10px; right:10px; background-color:crimson; margin-bottom:2px; margin-top: 5px; margin-left: 10px; margin-right: 10px;">
	<i style="position: absolute; right:50px; top:0px; cursor:pointer;" class="fa fa-chevron-circle-down fa-lg" data-bind="click:toggle_hide_frame"></i>
	<i style="position: absolute; right:20px; top:0px; cursor:pointer;" class="fa fa-times-circle fa-lg" data-bind="click:close_frame"></i>
</div>
 -->


<div>
	<!-- custombreadcrumbs -->
	<div data-bind="attr:{id:'frame_top_bar_'+ frameID}" style="/*margin:2px 2px 2px 10px; padding-top: 6px;*/ height: 35px;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	-moz-box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);">
		<div style="margin-left: 10px; margin-top: 9px; float: left;" class="custombreadcrumb flat" data-bind="foreach: {data: navigation}">
			<a style="color:#666"  data-bind="text:$data.title, click:$root.clicked_on_breadcrumb, css: {active: $data.key == $root.frameview.key() }"></a>
		</div>

		

		<div style="float:right; position: relative; padding-top: 5px;">
			<i title="Close this frame" style="
			box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.35);
			color: white;
			background-color: #666;
			border-radius: 50%;
			position: relative;
			float:right;
			padding-right: 5px;
			cursor:pointer;" class="_close_frame zoom_on_hover fa fa-times-circle removeFrame" data-bind="click:close_frame"></i>
			<i title="Toggle this frame" style="
			box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.35);
			color: white;
			background-color: #666;
			border-radius: 50%;
			position: relative;
			float:right;
			margin-right: 7px;
			cursor:pointer;" class="_toggle_frame zoom_on_hover fa fa-chevron-circle-down" data-bind="click:toggle_hide_frame"></i>

			<div style="position:relative; top: -5px; margin-right: 50px;" class="custombreadcrumb flat">
						<a style="color:#777;" class="" data-bind="text:frame_message_text"></a>
			</div>
			
		</div>

	</div>

	<!-- ******************** -->

	<div  style="padding-top: 10px; padding-bottom: 100px;" >
		<div  class="grid-stack" data-bind="foreach: {data: cards, afterRender: afterAddWidget},event:{mouseup:onPointerUp_background, mousedown:onPointerDown_background}, attr:{id:'gstack_'+frameID}">
			<div class="grid-stack-item" data-bind="attr: {'data-gs-x': $data.x, 'data-gs-y': $data.y, 'data-gs-width': $data.width, 'data-gs-height': $data.height, 'data-gs-auto-position': $root.auto_position},  event:{mousedown:$root.onMouseDown, mouseup:$root.onMouseUp, mouseenter:$root.onMouseEnterCard, mouseleave:$root.onMouseLeaveCard}">
				<div style="border-radius: 5px;" class="grid-stack-item-content" >
					<!-- <button data-bind="click: $root.remove_card">Remove</button> -->
					<div style="width: 100%; height: 100%; background-color: white;" data-bind="compose:{model:$root.activeModel, view:$root.activeView, activationData:$data}, attr:{id:'card_'+ $data.id}"></div>
					
				</div>




				<!-- SELECTED -->
				<div data-bind="fadeVisible:$data.isSelected() || $root.show_all_card_label()" style=" position: absolute; top:-10px; margin-top: 0px; " class="custombreadcrumb flat">
					<a style="color:#777;" class="" data-bind="html:($root.show_all_card_label() ? ($index()+1) : $root.card_label_text()), css:{active:$root.show_all_card_label(), big_font:$root.show_all_card_label(), normal_font:!$root.show_all_card_label()}"></a>
				</div>

				<div title="Close this. You can add it later by searching for it"  style="position: absolute; top:0px; right:15px;" data-bind="fadeVisible:$data.isMouseHovered">
					<i style="cursor:pointer; color:#aaa" class="zoom_on_hover removeCardBtn fa fa-times"></i>
				</div>

				<div style="position: absolute; top:8px; right:38px; padding:1px; " data-bind="fadeVisible:$data.isMouseHovered">
					<i style="color:#aaa; display: block;" class="zoom_on_hover cardMenuIcon fa fa-ellipsis-h"></i>

					<i title="Edit/Save" data-bind="fadeVisible:$root.show_additional_card_menu, style:{color: $data.STATE.SAVED ? '#aca' : '#caa'}" style="display: block; padding-bottom: 1px; background-color: white;" class=" zoom_on_hover cardMenuIcon cardMenuEditIcon fa fa-edit"></i>


					<i title="Copy" data-bind="fadeVisible:$root.show_additional_card_menu" style="color:#ada; display: block; background-color: white;" class="zoom_on_hover cardMenuIcon cardMenuCopyIcon fa fa-copy"></i>

					<!-- <i title="Paste" data-bind="fadeVisible:$root.show_additional_card_menu" style="color:#ada; display: block;" class="zoom_on_hover cardMenuIcon cardMenuPasteIcon fa fa-files-o"></i> -->

					<i title="Remove Permanently" data-bind="fadeVisible:$root.show_additional_card_menu" style="color:#daa; display: block; background-color: white;" class="zoom_on_hover cardMenuIcon cardMenuTrashIcon fa fa-trash-o"></i>

				</div>

			</div>
		</div>


				
		<!-- <form  data-bind="submit:searchSubmit" style="position: fixed; left:30%; width:40%; bottom:-50px;">
			<div>
			  <div>
			    <input style="width:100%; " id="focushere" type="text" placeholder="Command" autocomplete="off">
			    <i class="search icon"></i>
			  </div>
			</div>
		</form> -->
				
		</div>
</div>	