<!-- custombreadcrumbs -->
<div style="margin:2px 2px 2px 10px; ">
	<div class="custombreadcrumb flat" data-bind="foreach: {data: navigation}">
		<a style="color:#777"  data-bind="text:$data.title, click:$root.clicked_on_breadcrumb, css: {active: $data.key == $root.frameview.key() }"></a>
	</div>
</div>

<!-- ******************** -->

<div  style="margin-top: 2px" >
	<div  class="grid-stack" data-bind="foreach: {data: cards, afterRender: afterAddWidget},event:{mouseup:onPointerUp_background, mousedown:onPointerDown_background}">
		<div class="grid-stack-item" data-bind="attr: {'data-gs-x': $data.x, 'data-gs-y': $data.y, 'data-gs-width': $data.width, 'data-gs-height': $data.height, 'data-gs-auto-position': $root.auto_position},  event:{mousedown:$root.onMouseDown, mouseup:$root.onMouseUp}">

			<div style="/*overflow-y: auto;*/border-radius: 5px;" class="grid-stack-item-content" >
				<!-- <button data-bind="click: $root.remove_card">Remove</button> -->
				<div style="width: 100%; height: 100%; background-color: white" data-bind="compose:{model:$root.activeModel, view:$root.activeView, activationData:$data}"></div>
			</div>
		</div>
	</div>


			
	<form  class="ui search" data-bind="submit:searchSubmit" style="position: fixed; left:30%; width:40%; bottom:-50px;">
		<div class="ui search">
		  <div class="ui icon input">
		    <input style="width:100%; " id="focushere" class="prompt" type="text" placeholder="Command" autocomplete="off">
		    <i class="search icon"></i>
		  </div>
		</div>
	</form>
			
	</div>
	