<div class="selectedcard" 
	data-bind="event: { mouseenter: onMouseEnterCard, mouseleave: onMouseLeaveCard}" 
	style="
		display: flex;
		flex-direction: column;
		height:100%;
 		width:100%;
   		font-family: Georgia, Verdana, “Lucida Sans Unicode”, sans-serif;
		color: #999;
	 	/*background: #fff;*/
	 	background: #FAFAD2;
		-moz-border-radius: 4px;
  		-khtml-border-radius: 4px;
  		-webkit-border-radius: 4px;
		-moz-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  		-khtml-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  		-webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
  		position: relative; 
	">
	<div 
		class="sc_card_header"
		style="min-height: 70px;
		 font-size: 22px;
		 line-height: 26px;
		 padding-top: 4px"
		>
			<div 
			class="title sc-editable"
			data-bind="sc_contenteditable:title" 
			contenteditable="true" 
			data-placeholder="Title">
			</div>
			<!-- <div
			class="removeBtn" 
			data-bind="fadeVisible: isMouseEnterCard"
			style="position: absolute; top: 0px; right: 0px"></div> -->

			<div 
			class="sc-editable"
			data-bind="sc_contenteditable:subtitle"
			contenteditable="true" 
			style="font-size: 12px;
			 line-height: 16px;
			 padding-top: 4px" 
			data-placeholder="subtitle"></div>

	</div>

	<div  class="sc_card_body"
		style=" -webkit-flex:6;
		min-height: 100px;
		overflow-y:auto;
		font-size: 16px;
		line-height: 20px;
		padding: 10px 10px 10px;
		text-align: left"
		>
			<div class="sc-editable"
			 data-bind="sc_contenteditable:content"
			 contenteditable="true"
			 data-placeholder="contents"></div>
	</div>

	<div style="min-height: 30px" class="sc_card_footer">
		<div
			style="font-size: 14px;
			color: #c4591e;
			text-decoration: underline;
			line-height: 18px;
			cursor: wait;"
			data-placeholder="">More...
		</div>
	</div>

</div>